parameters:
	ignoreErrors:
		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: app/Http/Controllers/WebhookManagementController.php
